body::after {
    content: 'Thanks for using our Free hosting! Powered by free.moshimoe.space';
    position: fixed;
    z-index: 99999999999999;
    bottom: 2rem;
    right: -450px;
    background: var(--primary-dark), #121212;
    padding: .5rem 1rem;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #000;
    pointer-events: none;
    opacity: 0;
    animation: mainDialog 10s;
}

@keyframes mainDialog {
    0% {
        opacity: 1;
        right: 2rem;
    }

    97% {
        opacity: 1;
        right: 2rem;
    }

    100% {
        opacity: 0;
        right: -450px;
    }
}



@media only screen and (max-width: 600px) {
    .app::after {
        width: 100%;
        text-align:center;
        bottom:-100px;
        border-radius: 0;
        right:0;
        left: 0;
        color:#fff
    }
    @keyframes mainDialog {
        0% {
            opacity: 1;
            right: 0;
            bottom: 0;
        }
    
        95% {
            opacity: 1;
            right: 0rem;
            bottom: 0
        }
    
        100% {
            opacity: 0;
            right: 0;
            bottom: -100px
        }
    }
}

footer.grid-footer span[style="padding: 1rem 0rem;"]::after {
    content: ' - Free hosting powered by free.moshimoe.space'
}
